.vehicle-card-catalog {
  height: 25rem;
  width: 20rem;
  margin: 0 6rem 6rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  border-radius: 15px;
  text-align: center;
}

.vehicle-type-catalog {
  font-size: 2rem;
  color: #FF3A3A;
}

.vehicle-name-catalog {
  font-size: 1rem;
}

.vehicle-image-catalog {
  margin: 1rem;
}

.vehicle-button-catalog {
  width: 160px;
  height: 50px;
  background: #FF3A3A;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease;
  margin: 0 auto;
}

.vehicle-button-catalog:hover {
  background-color: #c00;
}
